body{
    background-image: url(./Logos/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: 200cqh;
    background-attachment: fixed;
}
div {
    text-align: center;
}
nav{
    color: #2c9fa3;
    background-color: #000000AB;
}
nav :hover{
    color: #ff8826;
}
table{
    font-size: xx-large;
    text-align: center;
    margin-left: 460px;
    color: #000000;
}
h1{
    margin-top: 30px;
    color: #000000;
    text-align: center;
    font-size: xx-large;
    background-color: #2c9fa3;
} 
label{
    color: #000000;
    font-size: large;
}












#instagram{
    display: block;
    text-decoration: none;
    margin-top: 50px;
    color: #2c9fa3;
    background-color: #000000AB;
}
#instagram:hover{
    color: #ff8826;
}
#facebook{
    display: block;
    text-decoration: none;
    margin-top: 7px;
    color: #2c9fa3;
    background-color: #000000AB;
}
#facebook:hover{
    color: #ff8826;
}