body{
    background-image: url(./Logos/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: 200cqh;
    background-attachment: fixed;
}
div {
    text-align: center;
}
nav{
    color: #2c9fa3;
    background-color: #000000AB;
    text-align: center;
    padding: 7px;          
}
nav :hover{
    color: #ff8826;
}
h2{
    margin-top: 0px;
    color: #000000;
    background-color: #2c9fa3;
    text-align: center;
} 
ul{
    margin-top: 7px;
    color: #000000;
    background-color: #2c9fa3;
}    
h3{
    border-style: solid;
    border-color: #000000;
    border-radius: 100px;
    text-align: center;
    margin-right: 50px;
}
li{
    font-size: large;
}












