html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Todos los HTML Mobile Vision */

body {
    background-image: url(./logos/);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100vh;
}
.encabezado{
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    grid-template-rows: 1fr;
    align-items: center;
    background-color: #befcfeab;
}
.mb-logo {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 17px;
}
.logo {
    width: 400px;
}
.after-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #befcfeab;
    border: 3px solid #000000;
    border-radius: 5px;
    padding-top: 5px;
}
.indexh3-mb {
    order: 2;
    font-size: 25px;
    font-weight: bold;
    color: #2c9fa3;
    text-align: center;
}
.mb-busqueda {
    margin-right: 20px;
    order: 1;
    justify-self: start;
}
.busqueda {
    width: 34px;
}
.mb-carrito {
    margin-left: 20px;
    order: 3;
    justify-self: end;
}
.carrito {
    width: 32px;
}

/* Index Mobile Vision */

/* slider */
.slider {
    border: 3px solid #000000;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
}
.indexh2-mb{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    background-color: #ff8846;
    text-align: center;
    border: 3px solid #000000;
    border-radius: 5px;
    margin-top: 17px;
    margin-bottom: 17px;
    padding: 7px;
}
.lista-enmarcaciones{
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    padding: 30px;
    background-color: #ff8846;
    border-radius: 5px;
    border: 3px solid #2c9fa3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.texto-li {
    margin-right: 7px;
    margin-bottom: 7px;
}
.imagenes-li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}   
.espejos{
    width: 87px;
    margin-right: 7px;
    margin-bottom: 7px;
}
.posters{
    width: 141px;
    margin-right: 7px;
    margin-bottom: 7px;
}
.dibujos{
    width: 111px;
    margin-right: 7px;
    margin-bottom: 7px;
}
.lienzos{
    width: 140px;
    margin-right: 7px;
    margin-bottom: 7px;
}
.fotos{
    width: 140px;
    margin-right: 7px;
    margin-bottom: 7px;
}


.envio-presupuesto {
    margin-top: 17px;
    margin-bottom: 17px;
    border: 3px solid #000000;
    background-color: #6dd6da;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}
.imagen-container {
    margin: 10px;
}

.boton-cargar {
    margin-top: 10px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.placeholder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#vista-previa {
    width: 170px;
    max-height: 170px;
}
.alto-container {
    margin-top: -100px;
    margin-left: -10px;
}
#alto {
    width: 50px;
}
.ancho-container {
    margin-top: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#ancho {
    width: 50px;
}
#enviar {
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    margin-left: 170px;
    border-radius: 7px;
    border-color: #000000;
    background-color: #ff8846;
    border-style: solid;
    color: #2c9fa3;
}





























































/* Todos los HTML */
footer {
    height: 100px;
    background-color: #befcfeab;
    padding-top: 27px;
    padding-bottom: 27px;
    border: 3px solid #000000;
    border-radius: 5px;
}
.instagram{
    padding: 10px;
    text-decoration: none;
    color: #2c9fa3;
}
.facebook{
    text-decoration: none;
    color: #2c9fa3;
}    
