// Todos los HTML Mobile Vision

footer {
    background-color: #befcfeab;
    border: 3px solid #000000;
    padding-top: 27px;
    padding-bottom: 27px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: auto;
    .redes-footer{
        display: flex;
        align-items: center;
        .logo-instagram {
            text-decoration: none;
            margin: 0 10px;
            width: 50px;
        }
        .logo-facebook {
            text-decoration: none;
            margin: 0 10px;
            width: 40px;
        }
        .logo-whatsapp {       
            text-decoration: none;
            margin: 0 10px;
            width: 50px;
        }   
    }
    .contacto-footer {
        color: #000000;
        font-size: 17px;
        text-align: end;
        line-height: 30px;
        margin: 0 10px 0 auto;
        .mail-footer {       
            color: #000000;
            text-decoration: none;
            &:hover {
                color: #ff8846;
            }
        }
    }
}
