// Todos los HTML Mobile Vision

header {
    .encabezado { 
        display: grid;
        grid-template-columns: 1fr repeat(3, auto);
        grid-template-rows: 1fr;
        align-items: center;
        background-color: #befcfeab;
        .a-busqueda {
            display: none;
        }
        .mb-logo {
            grid-column: 2 / 4;
            grid-row: 1 / 2;
            justify-self: center;
            padding-top: 10px;
            padding-right: 5px;
            padding-bottom: 17px;
            .logo { 
                width: 390px;
            }
        }
        .a-carrito {
            display: none;
        }
        .navbar {
            display: none;
        }
    }
    .toggle-menu {
        display: none;
    }
    .navbar-hamburguesa {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        cursor: pointer;
        transform: translate(7px);
        margin: 0 auto;
        .linea {
            width: 100%;
            height: 3px;
            background-color: #000000;
        }
    }
    .menu {
        display: none;
        grid-column: 1 / -1;
        background-color: #befcfeab;
        margin-right: 200px;
        line-height: 0;
        border: 3px solid #2c9fa3;
        border-radius: 5px;
        padding: 20px;
        text-indent: 5.0em;
        max-width: 300px;
        max-height: 150px;
        li {
            list-style-position: inside;
            grid-gap: 20px; 
            padding-top: 10px;
            margin-bottom: 10px;
            a {
                color: #2c9fa3;
                text-decoration: none;
                &:hover {
                    color: #ff8846;
                }
            }
        }
    }
    .toggle-menu:checked ~ .menu {
        display: block;
    }
}
.after-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #befcfeab;
    border: 3px solid #000000;
    border-radius: 5px;
    padding-top: 5px;
    .mb-busqueda {
        margin-right: 20px;
        order: 1;
        justify-self: start;
        .busqueda {
            width: 34px;
        }
    }
    .mb-carrito {
        margin-left: 20px;
        order: 3;
        justify-self: end;
        .carrito {
            width: 32px;
        }
    }
    .indexh3-mb {
        order: 2;
        font-size: 25px;
        font-weight: bold;
        color: #2c9fa3;
        text-align: center;
    }
}