@charset "UTF-8";
#carousel-section {
  grid-area: 2/2/4/4;
}

.carousel-gav {
  position: relative;
  width: 250px;
  height: 250px;
  margin: auto;
  perspective: 1000px;
  cursor: grab;
}
.carousel-gav .carousel-gav-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.carousel-gav .carousel-gav-inner figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.carousel-gav .carousel-gav-inner figure .card {
  width: 250px;
  height: 250px;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  transition: opacity 0.7s ease-in-out;
  box-shadow: 0 5px 20px rgba(255, 230, 0, 0.8), 0 5px 30px rgba(255, 196, 0, 0.6), 0 5px 40px rgba(255, 145, 0, 0.4), 0 5px 50px rgba(255, 119, 0, 0.2);
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.carousel-gav .carousel-gav-inner figure .card:hover {
  transform: scale(1.3);
  transition-delay: 0.3s;
  opacity: 1;
  z-index: 10;
}
.carousel-gav .carousel-gav-inner figure .card .card-inner {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 17px;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.carousel-gav .carousel-gav-inner figure .card .card-inner .card-front,
.carousel-gav .carousel-gav-inner figure .card .card-inner .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.carousel-gav .carousel-gav-inner figure .card .card-inner .card-front .frontpage,
.carousel-gav .carousel-gav-inner figure .card .card-inner .card-back .frontpage {
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  border-radius: 17px;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel-gav.dragging {
  cursor: grabbing;
}
.carousel-gav.dragging .carousel-gav-inner figure .card {
  cursor: grabbing;
}
.carousel-gav.dragging .carousel-gav-inner figure .card:hover {
  transform: none !important;
  z-index: auto !important;
}
.carousel-gav * {
  cursor: inherit !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Para pantallas pequeñas */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
/* Para pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}
/* Para pantallas grandes */
@media (min-width: 1025px) {
  body {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    font-size: 18px;
  }
}/*# sourceMappingURL=main.css.map */