body{
    background-image: url(./Logos/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: 200cqh;
    background-attachment: fixed;
}
div {
    text-align: center;
}
nav{
    color: #00ced1;
    background-color: #000000AB;
}
nav :hover{
    color: #ff8400;
}
h2{
    margin-top: 0px;
    color: #000000;
    background-color: #00ced1ab;
    text-align: center;
} 
ul{
    margin-top: 7px;
    color: #000000;
    background-color: #00ced1ab;
}    
h3{
    border-style: solid;
    border-color: #000000;
    border-radius: 100px;
    text-align: center;
    margin-right: 50px;
}
li{
    font-size: large;
}














#instagram{
    display: block;
    text-decoration: none;
    margin-top: 50px;
    color: #00ced1;
    background-color: #000000AB;
}
#instagram:hover{
    color: #ff8400;
}
#facebook{
    display: block;
    text-decoration: none;
    margin-top: 7px;
    color: #00ced1;
    background-color: #000000AB;
}
#facebook:hover{
    color: #ff8400;
}